
modstate.json
BattletechPerformanceFix.log
desktop.ini
ELog.txt
ActivatableComponents.log
CV_main_log.txt
field_repairs.log
loot_magnet.log
MechAffinity.log
Settings.last.json
ResultOrientedItems.log
size_matters.log

#Exlude Wulfbanes mess
BT Advanced Events/events_Debug
BT Advanced Events/.vs
BT Advanced Events/ToDo.txt
