
modstate.json
desktop.ini
BattletechPerformanceFix/BattletechPerformanceFix.log
BiggerDrops/ELog.txt
CustomActivatableEquipment/ActivatableComponents.log
CustomVoices/CV_main_log.txt
FieldRepairs/field_repairs.log
LootMagnet/loot_magnet.log
MechAffinity/MechAffinity.log
MechEngineer/Settings.last.json
ResultOrientedItems/ResultOrientedItems.log
SizeMatters/size_matters.log

#Exlude Wulfbanes mess
BT Advanced Events/events_Debug
BT Advanced Events/.vs
BT Advanced Events/ToDo.txt
